#it-exchange-product-licensing #itelic-changelog {
	resize: none;
	height: 48px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	border-color: rgba(222, 222, 222, 0.75);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
	color: rgba(51, 51, 51, 0.5);
}

label[for="itelic-edit-changelog"] {
	display: block;
	font-weight: bold;
}

#itelic-edit-changelog {
	width: 100%;
	resize: vertical;
	min-height: 100px;
}

.changelog-wrap ul {
	list-style: square;
	margin-left: 30px;
}

#TB_ajaxContent {
	height: 100% !important;
}

#it-exchange-advanced-tabs input[type="url"] {
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px;
	color: #3d4142;
	width: 260px;
}

#it-exchange-advanced-tabs input[type="url"]:focus {
	outline: none;
	border: 1px solid #c9c9c9;
	border-bottom-color: #aaaaaa;
}

.it-exchange-product-itelic-activation-limit-variants-inner {
	width: 100%;
	max-width: 700px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.itelic-variants-activation-limit-table {
	overflow: hidden;
	clear: both;
	width: 100%;
	border: 1px solid #DEDEDE;
	margin: 1.5em 0;
}

.itelic-variants-activation-limit-table .itelic-activation-limit-variant-header-row,
.itelic-variants-activation-limit-table .itelic-activation-limit-variant-row {
	width: 100%;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #DEDEDE;
}

.itelic-variants-activation-limit-table .itelic-activation-limit-variant-header-cell,
.itelic-variants-activation-limit-table .itelic-activation-limit-variant-cell {
	text-decoration: none;
	padding: .75em .5em;
	margin: 0 1em 0 0;
	float: left;
	width: 100%;
	max-width: 80%;
}

.itelic-variants-activation-limit-table .itelic-activation-limit-variant-header-cell {
	font-weight: 700;
}

.itelic-variants-activation-limit-table .itelic-activation-limit-variant-cell.itelic-activation-limit-variant-input-cell,
.itelic-variants-activation-limit-table .itelic-activation-limit-variant-header-cell.itelic-activation-limit-variant-input-cell {
	float: right;
	max-width: 70px;
	min-width: 70px;
	margin-right: .25em;
	overflow: hidden;
}

.itelic-variants-activation-limit-table .itelic-activation-limit-variant-cell.itelic-activation-limit-variant-input-cell {
	padding: .25em .5em;
}

#it-exchange-advanced-tabs .itelic-variants-activation-limit-table .itelic-activation-limit-variant-input-cell input[type="number"] {
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px 10px;
	color: #3d4142;
	width: 100%;
}

.itelic-upgrade-settings .upgrade-path {
	width: 100%;
	height: 80px;
	box-shadow: inset #EEEEEE 0 0 10px;
	border: 1px #D6D6D6 solid;
}

.upgrade-path .upgrade-path-product-title {
	display: block;
	padding: 10px 15px 10px 15px;
	border-bottom: 1px #e4e4e4 solid;
}

.upgrade-path .upgrade-path-variant-title {
	display: block;
	float: left;
	padding: 10px 0 20px 15px;
}

.upgrade-path .upgrade-path-activation-limit {
	padding: 10px 15px 20px 10px;
	float: right;
}