.release-types li {
	display: inline-block;
	text-align: justify;
	width: 80px;
	padding: 1.8em;
	margin: .8em;
	background: white;
	border: #ccc solid 1px;
}

.release-types li:first-of-type {
	margin-left: 0;
}

.release-types li:last-of-type {
	margin-right: 0;
}

.release-types input {
	display: none;
}

.release-types label:hover {
	color: #93c74d;
}

.release-types input:checked + label {
	color: #93c74d;
}

.release-types .dashicons {
	width: 80px;
	height: 80px;
	font-size: 80px;
	display: block;
	margin: 0 auto;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color;
	transition-property: color;
}

.release-types .type-description {
	text-align: center;
	width: 100%;
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color;
	transition-property: color;
}

.main-editor {
	width: 687px;
	padding: 2em;
	background: white;
	border: #ccc solid 1px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color, opacity;
	transition-property: color, background-color, opacity;
}

.main-editor .row:before,
.main-editor .row:after {
	content: " ";
	display: table;
}

.main-editor .row:after {
	clear: both;
}

.main-editor .row {
	margin-bottom: 20px;
}

.main-editor div:last-of-type {
	margin-bottom: 0;
}

.main-editor label {
	margin: 0 0 5px 0;
	font-size: 16px;
	color: #666666;
	font-weight: 300;
	display: block;
}

.main-editor input[type="text"]:read-write {
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px;
	color: #3d4142;
	width: 260px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	outline: 0;
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}

.main-editor .description {
	color: #666;
	font-style: oblique;
}

.product-select-container {
	float: left;
	width: 47.5%;
}

.version-number-container {
	float: left;
	width: 47.5%;
	margin-left: 5%;
}

#product {
	height: 46px;
}

#prev-version {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	margin-bottom: 0;
	padding-bottom: 0;
}

.upload-container {
	padding: 50px;
	border: 2px dashed #ccc;
	border-radius: 5px;
}

.upload-inputs {
	margin: 0 auto;
	vertical-align: middle;
}

.upload-inputs label {
	text-align: center;
}

.upload-inputs input {
	display: block;
	margin: 5px auto 0 auto;
	width: 181px;
}

.buttons {
	float: right;
}

.buttons input[type="submit"] {
	margin-left: 15px;
}

.buttons input:first-of-type {
	margin-left: 0;
}