<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./api</directory>
			<directory suffix=".php">./lib</directory>
			<exclude>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./api/theme</directory>
				<directory suffix=".php">./lib/templates</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>